{escript_name, eflex}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_emu_args, "%%! +sbtu +A0 -noinput\n"}.
{artifacts, ["{{profile_dir}}/bin/eflex"]}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.
{post_hooks, [{compile, "cp $REBAR_DEPS_DIR/../bin/eflex $REBAR_ROOT_DIR/."}]}.

%% vim: ft=erlang
